@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?youl20');
  src:  url('fonts/icomoon.eot?youl20#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?youl20') format('truetype'),
    url('fonts/icomoon.woff?youl20') format('woff'),
    url('fonts/icomoon.svg?youl20#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phoenix:before {
  content: "\e906";
}
.icon-honeycomb:before {
  content: "\e907";
}
.icon-phoenix-power:before {
  content: "\e903";
}
.icon-phoenix-world:before {
  content: "\e904";
}
.icon-power:before {
  content: "\e905";
}
.icon-syui:before {
  content: "\e902";
}
.icon-archlinux:before {
  content: "\e900";
}
.icon-archlinuxjp:before {
  content: "\e901";
}
